* {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  background-color: #f5f5f5;
}

/* NAVBAR */
.navbar {
  background-color: #f5f5f5;
}

#masthead {
    height: 70vh;
    min-height: 400px;
    background-color: #DC607F;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 35px;
  }



  /* MASTHEAD */
  .mh-header {
    font-size: 40px;
    font-weight: 900;
  }